<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model='num1'>
        <select name="" id="" v-model='opt'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model='num2'>
        <input type="button" value="=" @click='calc'>
        <input type="text" v-model='result'>
    </div>


    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                num1:'0',
                num2:'0',
                result:'0',
                opt:'*'
            },
            methods:{
                calc(){//计算器计算方法
                //    switch(this.opt){
                //        case '+':this.result=parseFloat(this.num1)+parseFloat(this.num2);
                //        break;

                //        case '-':this.result=parseFloat(this.num1)-parseFloat(this.num2);
                //        break;

                //        case '*':this.result=parseFloat(this.num1)*parseFloat(this.num2);
                //        break;

                //        case '/':this.result=parseFloat(this.num1)/parseFloat(this.num2);
                //        break;
                //    } 
                    var codeSrt='this.result=parseFloat(this.num1)'+this.opt+'parseFloat(this.num2)';
                    this.result=eval(codeSrt);
                }
            }
        });
    </script>
</body>
</html>