html,body{
    margin: 0;
    padding: 0;
    background-color: pink;
    .dv2{
        width: 200px;
        height: 100px;
        background: url('../images2/timg.jpg')
    }
    .dv{
        background: url('../images/timg.jpg') 
    }
}